.m-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.m-icon-16px {
    background-size: 16px 16px;
}

.m-icon-24px {
    background-size: 24px 24px;
}

.m-icon-add {
    background-image: url("../../assets/icon/add.png");
}

.m-icon-search {
    background-image: url("../../assets/icon/search.png");
}

.m-icon-dashboard {
    background-image: url("../../assets/icon/dashboard.png");
}

.m-icon-report {
    background-image: url("../../assets/icon/report.png");
}

.m-icon-document {
    background-image: url("../../assets/icon/document-online.png");
}

.m-icon-employee {
    background-image: url("../../assets/icon/dic-employee.png");
}

.m-icon-first {
    background-image: url("../../assets/icon/btn-firstpage.svg");
}

.m-icon-next {
    background-image: url("../../assets/icon/btn-next-page.svg");
}

.m-icon-prev {
    background-image: url("../../assets/icon/btn-prev-page.svg");
}

.m-icon-last {
    background-image: url("../../assets/icon/btn-lastpage.svg");
}

.m-icon-setting {
    background-image: url("../../assets/icon/setting.png");
}

.m-icon-option {
    background-image: url("../../assets/icon/option.png");
}

.m-icon-x {
    background-image: url("../../assets/icon/x.svg");
}

.m-icon-save {
    background-image: url("../../assets/img/luu-50.png");
}

.m-icon-calender {
    background-image: url("../../assets/img/calendar-48.png");
}