.m-btn {
    height: 40px;
    padding: 0 24px;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: #019160;
    color: #ffff;
    cursor: pointer;
    min-width: 100px;
}

.m-btn:hover {
    background-color: #2fbe8e;
}

.m-btn:active {
    background-color: #01b075;
}

.m-btn-icon {
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 16px;
}
