.navbar {
    width: 226px;
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    border-right: 1px solid #bbbbbb;

}

.menu-item {
    display: flex;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #e5e5e5;
}

.menu-item.menu-item-focus {
    background-color: #109160;
    color: white;
}

.menu-item .menu-icon {
    margin-left: 16px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.menu-item .menu-text {
    text-decoration: none;
}